<!-- Third Parallax Image with Portfolio Text
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">ABOUT</span>
  </div>
</div> -->
<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT ME</h3>
  <p class="w3-center"><em>I love designing</em></p>
  <!-- <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>Dimple Arora</b></p><br>
      <img src="assets/imgs/author.png" class="w3-round w3-image " alt="Photo of Me" width="200" height="133">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6  w3-padding-large">
      <p>"A passionate Designer with Creative and Innovative vision; comes from a small town of Rajasthan named Kota.
        She had receveid her diploma course in fashion designing from Couture Institute of Fashion Techonology
        in Kota. Her aim is to change the concept of many Indians of looking great only by wearing heavy worked
        clothes, which is not true according to her , so she brings her vision of creating an unique , simple
        designs with details like ruffled,pleated,tucked and her designs are embellished with minimal hand or
        machine work or appliqué that can be worn by everyone. Her style is especially about feeling classy,
        elegant and sophisticated. She believes in her creation and can design the pallette for women to wear
        simple, comfortable yet stylish couture. She wants to innovate the power of dressing for women with her
        figure-loving designs. She also believes that dressing up occasionally and looking perfect is not only
        goes for women but for men and kids too. So, she also design menswear and kids wear in simple yet stylish
        and easy going comfortable design."</p>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16">Im really good at:</p>
  <p class="w3-wide"><i class="fa fa-paint-brush"></i>Sketching</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-pink w3-center" style="width:90%">90%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-laptop"></i>Designing</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-pink w3-center" style="width:85%">85%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-photo"></i>Photoshop</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-pink w3-center" style="width:75%">75%</div>
  </div>
</div>

<div class="w3-row w3-center w3-white  w3-text-pink w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">14+</span><br>
    Partners
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">55+</span><br>
    Projects Done
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">89+</span><br>
    Happy Clients
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">150+</span><br>
    Meetings
  </div>
</div>
