

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <!-- <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"> MY<span class="w3-hide-small">WEBSITE</span> LOGO</span> -->
    <span class="w3-center w3-text-black w3-padding-large  w3-large w3-wide w3-animate-opacity">BY DIMPLE ARORA</span>

  </div>
</div>
